---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

///////////// BEGIN GLOBAL /////////////

// TOC Font Size
.page__content {
  font-size: 18px;
}

// Main Text Area Font Size
.sidebar__right {
  font-size: 20px;
}

////////////// END GLOBAL //////////////

///////////// BEGIN LIGHT //////////////

:root {
  --primary-color: #0092ca; 			// Light Blue
  --secondary-color: #006166; 			// Green
  --masthead-text-color: #ffffff; 		// White
}

// Area around Masthead fill color
#site-nav {
	background-color: var(--primary-color);
}
	
// Masthead fill color
.masthead {
	background-color: var(--primary-color);
	border-bottom: 1px var(--primary-color);
}

// Masthead text color
.greedy-nav a {
	color: var(--masthead-text-color);
}

// Masthead text hover color
.greedy-nav a:hover {
	color: var(--masthead-text-color);
}

// Masthead link underline hover color
.greedy-nav .visible-links a:before {
	background: var(--masthead-text-color);
	background-color: var(--masthead-text-color);
}

// Left menu title color
.nav__sub-title {
	color: var(--secondary-color);
}

// Remove ghost effect from left menu
.sidebar {
	opacity: 1;
}

// Heading 1
h1 {
	color: var(--secondary-color);
}

// Headings 2,3,4,5,6
h2, h3, h4, h5, h6 {
	color: var(--primary-color);
}

// Footer color
.page__footer {
	background-color: var(--primary-color);
}

// Footer text color
.page__footer {
	color: var(--masthead-text-color) !important;
}

////////////// END LIGHT ///////////////

////////////// BEGIN DARK //////////////
@media (prefers-color-scheme: dark) {  

	:root {
	  --primary-color: #0092ca;           // header blue
	  --secondary-color: #49a8ad;         // green - light variant
	  --masthead-text-color: #FFFFFF;     // white
	  --content-separator-color: #dcddde; // light grey
	  --content-bg-color: #36393f;        // dark grey
	  --content-text-color: #dcddde;      // light grey
	  --code-bg-color: #2f3136;           // darkest grey
	  --code-text-color: #a6aab0;         // medium grey
	  --code-small-bg-color: #2f3136;     // darkest grey
	  --toc-highlight-color: #005f84;     // dark header blue
	  --notice-color: white;
	  --notice-bg-color: black;
	  --notice-primary-color: white;
	  --notice-primary-bg-color: black;
	  --notice-info-color: white;
	  --notice-info-bg-color: black;
	  --notice-warning-color: white;
	  --notice-warning-bg-color: black;
	  --notice-success-color: white;
	  --notice-success-bg-color: black;
	  --notice-danger-color: white;
	  --notice-danger-bg-color: black;
	}
	
	body {
		background-color: var(--content-bg-color);
		color: var(--content-text-color);
	}

	// Area around Masthead fill color
	#site-nav {
		background-color: var(--primary-color);
	}
		
	// Masthead fill color
	.masthead {
		background-color: var(--primary-color);
		border-bottom: 1px var(--primary-color);
	}

	// Masthead text color
	.greedy-nav a {
		color: var(--masthead-text-color);
	}

	// Masthead text hover color
	.greedy-nav a:hover {
		color: var(--masthead-text-color);
	}

	// Masthead link underline hover color
	.greedy-nav .visible-links a:before {
		background: var(--masthead-text-color);
		background-color: var(--masthead-text-color);
	}

	// Left menu title color
	.nav__sub-title {
		color: var(--secondary-color);
	}
	
	// Left menu separator color
	.nav__sub-title {
		border-bottom: 1px solid var(--content-separator-color); //cecfd1
	}
	
	// Remove ghost effect from left menu
	.sidebar {
		opacity: 1;
	}

	// Heading 1
	h1 {
		color: var(--secondary-color);
	}

	// Headings 2,3,4,5,6
	h2, h3, h4, h5, h6 {
		color: var(--primary-color);
	}
	
	// Content heading separator color
	.page__content h2 {
		border-bottom: 1px solid var(--content-separator-color);
	}
	
	// Code area colors
	div.highlighter-rouge, figure.highlight {
		background: var(--code-bg-color);
		color: var(--code-text-color);
	}
	
	// Code area small color
	p > code, a > code, li > code, figcaption > code, td > code {
		background: var(--code-small-bg-color);
	}
	
	// Notice colors
	.notice {
		color: var(--notice-color);
		background-color: var(--notice-bg-color);
	}
	
	.notice--primary {
		color: var(--notice-primary-color);
		background-color: var(--notice-primary-bg-color);
	}
	
	.notice--info {
		color: var(--notice-info-color);
		background-color: var(--notice-info-bg-color);
	}
	
	.notice--warning {
		color: var(--notice-warning-color);
		background-color: var(--notice-warning-bg-color);
	}
	
	.notice--success {
		color: var(--notice-success-color);
		background-color: var(--notice-success-bg-color);
	}
	
	.notice--danger {
		color: var(--notice-danger-color);
		background-color: var(--notice-danger-bg-color);
	}
	
	// General Link Colors
	a:link, a:visited, a:hover {
		color: var(--content-text-color);
	}
	
	// TOC colors
	.toc {
		//color: #c792ea;
		background-color: var(--content-bg-color);
		border: 1px solid var(--content-separator-color);
	}
	
	// TOC Title colors
	.toc .nav__title {
		color: var(--masthead-text-color);
		background: var(--primary-color);
	}
	
	// TOC link colors
	.toc__menu a {
		color: var(--content-text-color);
		border-bottom: 1px solid var(--content-separator-color);
	}
	
	.toc a:hover {
		color: var(--content-text-color);
	}
	
	// TOC link active colors
	.toc .active a {
		background-color: var(--toc-highlight-color);
		color: var(--masthead-text-color);
	}
	
	// Footer color
	.page__footer {
		background-color: var(--primary-color);
	}
	
	// Footer text color
	.page__footer {
		color: var(--masthead-text-color) !important;
	}

} ////////////// END DARK ///////////////
