---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// SET SASS VARS BEFORE IMPORTS HERE //

// Colour palette uses light blue: #0092ca and green: #006166

// Titles, SubTitle, and Top Menu link color
$masthead-link-color: #ffffff;
$masthead-link-color-hover: #ffffff;

// Footer background colour
$footer-background-color: #0092ca; //grrrrr doesn't work either help!

// Links
$link-color: #006166;
$link-color-hover: #0092ca;
$link-color-visited: #006166;

// THEME IMPORTS //
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// CSS OVERRIDES GO HERE //

/* Main background colour ...temporary not liking the results...
.initial-content {
  background-color: #d9e6eb;
  //background-image: linear-gradient(white, #0092ca 95%);
} */

// Top Bar
.masthead {
  background-color: #0092ca;
}

// Area around Top Bar
#site-nav {
  background-color: #0092ca;
}

/* Bar just above the footer ...temporary trying to get this to work but can't figure it out...
.page__footer {
  background-color: #0092ca;
} */

// Left menu title color
.nav__sub-title {
  color: #006166;
}

// Heading 1
h1 {
  color: #006166;
}

// Headings 2,3,4,5,6
h2, h3, h4, h5, h6 {
  color: #0092ca;
}

// Set Top Menu Link underline color
.greedy-nav .visible-links a:before {
	background: #ffffff;
	background-color: #ffffff;
}
